serving/server
serving/bak
serving/core
build
*.log
*.swp
*.so
*.o
*.swo
*.out
*.list
*.a
*.d
*.mp4
*.pyc
thrift/gen-py
thrift/gen-cpp
lib/
.DS_Store
._.DS_Store
core
*/core
log
logs
*/logs
*/log
test/test
data/
libs/
server/server
serving/*frames*
serving/output
test/*frames*
*.bak
serving/server_face_api_v1
